body {
    font-family: Arial, sans-serif;
    background-color: #fdf6f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.signup-container {
    display: flex;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 900px;
    max-width: 90%;
}
.signup-box {
    padding: 40px 60px;
    width: 45%;
}
.signup-box h2 {
    margin-bottom: 20px;
    color: #333;
}
.input-group {
    margin-bottom: 15px;
}
.input-group label {
    display: block;
    /* font-weight: bold; */
    margin-bottom: 5px;
}
.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 25px;
}
.forgot-password {
    display: block;
    text-align: right;
    margin-bottom: 15px;
    color: #666;
    text-decoration: none;
}
.signup-btn {
    width: 100%;
    background-color: #ffc59f;
    border: none;
    padding: 10px;
    border-radius: 25px;
    color: #333;
    font-weight: bold;
    cursor: pointer;
}
.or {
    text-align: center;
    margin: 15px 0;
    color: #888;
}
.social-signup {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.social-signup img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.signup-text {
    text-align: center;
    margin-top: 15px;
}
.signup-text a {
    color: #d77a61;
    font-weight: bold;
    text-decoration: none;
}
.signup-image {
    width: 50%;
    height: 425px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fde3d9;
    margin: 90px 50px 0px 50px;
    border-radius: 50% 50% 0% 0%;
}
.signup-image img {
    width: 380px;
    height: auto;
    position: relative;
    top: 0;
    left: 90px;
    
}

label{
    position: relative;
    top: 12px;
    left: 25px;
    font-weight: bold;
    height: 10px;
    width: fit-content;
    padding: 3px;
    background-color: #fff;
    font-size: 11px;
    color: #666;
}

